@charset "UTF-8";
/* Fuentes */
/* Colores */
/* Tamaños media queries */
/* Mixin para responsive */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  overflow-x: hidden; }

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: "Righteous", cursive; }

p {
  text-align: justify;
  font-family: "Raleway", sans-serif; }

li {
  list-style: none; }

a {
  text-decoration: none;
  font-family: "Gruppo", cursive;
  color: #ffffff; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E33926;
  padding: 0 5rem;
  height: 12rem;
  -webkit-box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.72);
  box-shadow: 0px 9px 11px 0px rgba(0, 0, 0, 0.72); }
  @media (min-width: 1200px) {
    header {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0; } }
  @media (max-width: 1200px) {
    header {
      flex-direction: column;
      height: auto;
      gap: 2rem; } }
  header .header__logo {
    height: 15rem;
    width: 15rem; }
  header .header__nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap; }
    header .header__nav ul li a {
      font-weight: bold;
      font-size: 2rem;
      text-transform: uppercase; }
      header .header__nav ul li a:hover {
        color: #000000;
        border-bottom: solid 8px #000000; }
  header .header__sociales ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
  header .header__sociales-icono {
    color: #E33926;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #ffffff; }
    @media (max-width: 1200px) {
      header .header__sociales-icono {
        margin: 2rem 0; } }
    header .header__sociales-icono:hover {
      color: #ffffff;
      background-color: #000000; }

.home .home__fondo {
  background-image: url(../img/fondo-principal.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70rem;
  text-align: center;
  padding-top: 24rem; }
  .home .home__fondo h1 {
    color: #ffffff;
    margin-bottom: 7rem;
    font-weight: normal;
    font-size: 6rem; }
  .home .home__fondo a {
    color: #ffffff;
    background-color: #E33926;
    padding: 2rem 4rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    font-size: 2rem; }

.music {
  background-image: url(../img/fondo-music.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100vw;
  height: 100%;
  padding-bottom: 15rem;
  margin-bottom: 2rem; }
  @media (max-width: 1200px) {
    .music {
      background-position: center; } }
  .music .music__titulo {
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10rem; }
  .music .music__widgets {
    padding: 5rem 3rem 0 3rem;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1200px) {
      .music .music__widgets {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem; } }
    .music .music__widgets iframe {
      height: 40rem;
      width: 55rem; }
      @media (max-width: 1200px) {
        .music .music__widgets iframe {
          width: 80%; } }

.tour {
  background-image: url(../img/fondo-principal.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 65rem;
  text-align: center;
  margin-bottom: 2rem; }
  .tour .tour__titulo {
    color: #ffffff;
    font-size: 7rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20rem;
    margin-bottom: 5rem; }
  .tour .tour__boton {
    color: #ffffff;
    background-color: #E33926;
    padding: 2rem 4rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    font-size: 2rem; }

.news {
  background-image: url(../img/fondo-news.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100%;
  padding-bottom: 10rem;
  margin-bottom: 2rem; }
  .news .news__titulo {
    text-align: center;
    color: #ffffff;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 10rem; }
  .news .news__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 5rem; }
    .news .news__cards .news__cards-card {
      background-color: #E33926;
      color: #ffffff;
      padding: 0;
      width: 35rem; }
      .news .news__cards .news__cards-card img {
        height: 25rem;
        width: 35rem; }
      .news .news__cards .news__cards-card h3 {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 1.8rem;
        padding: 3rem 1rem; }
      .news .news__cards .news__cards-card .info {
        font-size: 1.5rem;
        padding: 0 1rem 3rem 1rem; }
      .news .news__cards .news__cards-card .fecha {
        padding: 2rem;
        border-top: solid 1px #ffffff; }

.shop {
  background-image: url(../img/fondo-shop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100vw;
  height: 30rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 12rem; }
  @media (max-width: 768px) {
    .shop {
      text-align: center;
      flex-direction: column;
      gap: 5rem; } }
  .shop .shop__titulo {
    color: #ffffff;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase; }
  .shop .shop__boton {
    color: #ffffff;
    background-color: #E33926;
    padding: 2rem 4rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    font-size: 2rem; }

.gang {
  background-image: url(../img/fondo-gang.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100vw;
  height: 30rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 12rem; }
  @media (max-width: 768px) {
    .gang {
      text-align: center;
      flex-direction: column;
      gap: 5rem;
      height: 35rem; } }
  .gang .gang__titulo {
    color: #ffffff;
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase; }
  .gang .gang__boton {
    color: #ffffff;
    background-color: #E33926;
    padding: 2rem 4rem;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    font-size: 2rem; }

.footer {
  background-color: #E33926;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3rem 0; }
  .footer img {
    width: 30rem;
    height: 20rem; }
  .footer .footer__boton {
    background-color: #ffffff;
    color: #E33926;
    padding: 1rem 6rem;
    border-radius: .6rem;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    font-family: "Righteous", cursive;
    font-size: 2rem;
    cursor: pointer; }
    .footer .footer__boton:hover {
      background-color: #000000; }
  .footer .footer__texto {
    font-size: 2rem;
    text-decoration: underline; }
  .footer .footer__sociales .footer__sociales-lista {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .footer .footer__sociales .footer__sociales-lista .color-youtube {
      background-color: #932418;
      color: #ffffff; }
    .footer .footer__sociales .footer__sociales-lista .color-insta {
      background-color: #1A1A1A;
      color: #ffffff; }
    .footer .footer__sociales .footer__sociales-lista .color-twitter {
      background-color: #8ed1fc;
      color: #ffffff; }
    .footer .footer__sociales .footer__sociales-lista .color-tiktok {
      background-color: #abb8c3;
      color: #ffffff; }
    .footer .footer__sociales .footer__sociales-lista .color-spotify {
      background-color: #61CE70;
      color: #ffffff; }
  .footer .footer__sociales .footer__sociales-icono {
    color: #E33926;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    transition: ease all 500ms; }
    .footer .footer__sociales .footer__sociales-icono:hover {
      transform: scale(1.2); }

.copy {
  background-color: #363434;
  color: #ffffff;
  padding: 1.5rem 0; }
  .copy p {
    font-size: 1.7rem;
    text-align: center; }
  .copy a {
    color: #E33926;
    font-family: "Raleway", sans-serif; }

.bioInfo {
  position: fixed;
  scroll-behavior: smooth;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  color: #000000;
  background-color: #ffffff;
  padding: 3.5rem 3rem 3rem 3rem;
  display: none; }
  @media (max-width: 768px) {
    .bioInfo {
      width: 100%;
      padding: 1rem; } }
  .bioInfo .bioTitulo {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .bioInfo .bioTitulo button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-weight: bold;
      margin-bottom: 2rem;
      font-size: 2rem; }
  .bioInfo p {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: justify;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    line-height: 1.4; }
    @media (max-width: 600px) {
      .bioInfo p {
        font-size: 1.1rem;
        line-height: 1.6; } }

.display {
  display: block; }

.lista-fechas {
  margin: 17rem 0 5rem 0;
  width: 100vw;
  padding: 0 10rem; }
  @media (max-width: 768px) {
    .lista-fechas {
      padding: 0 3rem; } }
  .lista-fechas .lista-fecha__titulo {
    text-align: center;
    font-size: 4rem;
    color: #E33926; }
  .lista-fechas .fecha {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1.2fr;
    align-content: center;
    align-items: center;
    border-bottom: solid 2px #ebebeb;
    border-top: solid 2px #ebebeb;
    border-right: solid 2px #ebebeb; }
    @media (max-width: 1200px) {
      .lista-fechas .fecha {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr; } }
    @media (max-width: 768px) {
      .lista-fechas .fecha {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        border-left: solid 2px #ebebeb; } }
    .lista-fechas .fecha h3 {
      font-size: 3.5rem;
      text-align: center; }
      @media (max-width: 768px) {
        .lista-fechas .fecha h3 {
          padding-top: 3rem; } }
    .lista-fechas .fecha .fecha__info {
      height: 100%;
      border-left: solid 2px #ebebeb;
      padding-left: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      @media (max-width: 768px) {
        .lista-fechas .fecha .fecha__info {
          border: none; } }
      .lista-fechas .fecha .fecha__info .direccion {
        padding: 0 2rem; }
      .lista-fechas .fecha .fecha__info .fecha__info-item {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem; }
        .lista-fechas .fecha .fecha__info .fecha__info-item:nth-child(1) {
          padding-top: 6rem; }
        .lista-fechas .fecha .fecha__info .fecha__info-item p {
          font-weight: bold; }
        .lista-fechas .fecha .fecha__info .fecha__info-item .fechas-icono {
          color: #E33926; }

.new1 .new1__home {
  background-image: url(../img/new1-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70rem;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .new1 .new1__home {
      background-position: center center; } }
  .new1 .new1__home h2 {
    margin-left: 10rem;
    color: #ffffff;
    font-weight: normal;
    font-size: 5rem; }
    @media (max-width: 768px) {
      .new1 .new1__home h2 {
        margin-left: 0;
        text-align: center; } }

.new1 .new1__info {
  margin-top: 7rem;
  padding: 0 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  text-align: center; }
  @media (max-width: 768px) {
    .new1 .new1__info {
      padding: 0 3rem; } }
  .new1 .new1__info img {
    max-width: 100%; }
    .new1 .new1__info img:last-child {
      margin-bottom: 5rem; }

.new2 .new2__home {
  background-image: url(../img/new2-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70rem;
  width: 100vw;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .new2 .new2__home {
      background-position: center center; } }
  .new2 .new2__home h2 {
    margin-left: 10rem;
    color: #ffffff;
    font-weight: normal;
    font-size: 5rem; }
    @media (max-width: 768px) {
      .new2 .new2__home h2 {
        margin-left: 0;
        text-align: center; } }

.new2 .new2__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 5rem 0;
  padding: 0 12rem; }
  @media (max-width: 768px) {
    .new2 .new2__info {
      padding: 0 3rem; } }
  .new2 .new2__info h3 {
    text-align: center; }
  .new2 .new2__info img {
    max-width: 100%; }

.new3 .new3__home {
  background-image: url(../img/new3-fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 70rem;
  display: flex;
  align-items: center; }
  @media (max-width: 768px) {
    .new3 .new3__home {
      background-position: center center; } }
  .new3 .new3__home h2 {
    margin-left: 10rem;
    color: #ffffff;
    font-weight: normal;
    font-size: 5rem; }
    @media (max-width: 768px) {
      .new3 .new3__home h2 {
        margin-left: 0;
        text-align: center; } }

.new3 .new3__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 5rem 0;
  padding: 0 12rem; }
  @media (max-width: 768px) {
    .new3 .new3__info {
      padding: 0 3rem; } }
  .new3 .new3__info iframe {
    width: 100%;
    height: 40rem; }

.unite .unite__home {
  width: 100vw;
  height: 40rem;
  background: #e33926;
  background: linear-gradient(90deg, #e33926 0%, #e3a7a7 100%);
  display: flex;
  align-items: center; }
  .unite .unite__home h2 {
    margin: 10rem 0 0 8rem;
    color: #ffffff;
    font-size: 4rem;
    font-weight: normal; }

.unite .suscripcion {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  padding: 0 5rem;
  margin: 5rem 0; }
  @media (max-width: 1200px) {
    .unite .suscripcion {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .unite .suscripcion .suscripcion__formulario {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .unite .suscripcion .suscripcion__formulario .campo {
      display: flex;
      flex-direction: column;
      width: 40rem;
      padding: 2rem 0; }
      @media (max-width: 768px) {
        .unite .suscripcion .suscripcion__formulario .campo {
          width: 30rem; } }
      .unite .suscripcion .suscripcion__formulario .campo label {
        font-size: 2rem;
        font-weight: bold;
        padding-bottom: .8rem;
        font-family: "Raleway", sans-serif; }
      .unite .suscripcion .suscripcion__formulario .campo input {
        padding: 1rem 2rem; }
    .unite .suscripcion .suscripcion__formulario .btnEnviar {
      margin: 2rem 0;
      background-color: #000000;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 1rem 6rem;
      font-family: "Raleway", sans-serif;
      font-size: 2rem;
      border-radius: 5px;
      border: 3px solid #000000;
      cursor: pointer; }
  .unite .suscripcion .suscripcion__derecha {
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    text-transform: uppercase; }
    .unite .suscripcion .suscripcion__derecha h3 {
      color: #E33926;
      font-weight: normal;
      font-size: 3rem; }
    .unite .suscripcion .suscripcion__derecha p {
      text-align: center;
      font-size: 2.5rem; }
    .unite .suscripcion .suscripcion__derecha ul {
      padding-left: 13rem; }
      @media (max-width: 768px) {
        .unite .suscripcion .suscripcion__derecha ul {
          padding: 0; } }
      .unite .suscripcion .suscripcion__derecha ul li {
        padding: 2rem 0;
        font-size: 1.7rem; }
        .unite .suscripcion .suscripcion__derecha ul li span {
          font-size: 1.3rem; }
    .unite .suscripcion .suscripcion__derecha img {
      height: 45rem;
      width: 35rem; }
